<div>
    <div class="form-title">
        {{catId? 'Edit ': 'Add New'}} Sub Category
    </div>
    <div class="form-section">
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-6 mb-3">
                    <div>
                        <label for="categoryId" class="form-label">Category</label>
                        <select 
                            type="text" 
                            class="form-control" 
                            id="categoryId"
                            formControlName="categoryId"
                            [ngClass]="{ 'is-invalid': submitted && f['categoryId'].errors }"
                            placeholder="Category Name">
                            <option value="" disabled selected>Select Category</option>
                            <option *ngFor="let category of categories" [value]="category.id">{{ category.title }}</option>
                        </select>
                        <div *ngIf="submitted && f['categoryId'].errors" class="invalid-feedback">
                            <div *ngIf="f['categoryId'].errors['required']">Category name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div>
                        <label for="title" class="form-label">Sub Category name</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="title"
                            formControlName="title"
                            [ngClass]="{ 'is-invalid': submitted && f['title'].errors }"
                            placeholder="Sub Category ">
                        <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                            <div *ngIf="f['title'].errors['required']">Sub Category is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-end flex mt-2 gap-2">
                <button type="button" class="btn btn-outline-primary m-2" (click)="onCancel()">
                    <span>Cancel</span>
                </button>
                <button type="submit" class="btn btn-primary waves-effect waves-light ml-2">
                    <span>{{catId? 'Update ': 'Submit'}}</span>
                </button>
            </div>
        </form>
    </div>
</div>