<div class="page" id="programs">
    <div class="row mt-2">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center gap-4">
                <h4 class="mb-sm-0">Total Ads List</h4>
                
    </div>
         
                
      
            </div>
        </div>
      </div>
      <div class="p-4">
        <div class="d-flex justify-content-between gap-2 mb-3">
            <div class="col-7">
                <div class="btn-group" role="group" aria-label="Ad status filter">
        <input type="radio" class="btn-check" name="statusFilter" id="all" [value]="'All'" [(ngModel)]="selectedStatus" (change)="filterAds('All')" checked>
        <label class="btn btn-outline-primary" for="all">All Ads</label>

        <input type="radio" class="btn-check" name="statusFilter" id="approved" [value]="'Approved'" [(ngModel)]="selectedStatus" (change)="filterAds('Approved')">
        <label class="btn btn-outline-primary" for="approved">Approved</label>

        <input type="radio" class="btn-check" name="statusFilter" id="pending" [value]="'Pending'" [(ngModel)]="selectedStatus" (change)="filterAds('Pending')">
        <label class="btn btn-outline-primary" for="pending">Pending</label>

        <input type="radio" class="btn-check" name="statusFilter" id="rejected" [value]="'Rejected'" [(ngModel)]="selectedStatus" (change)="filterAds('Rejected')">
        <label class="btn btn-outline-primary" for="rejected">Rejected</label>
    </div>
            </div>
            <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" id="filter-text-box" placeholder="Filter..." oninput="onFilterTextBoxChanged()"/>
          </div>
          <div class="col-6">
            <div class="page-title-right">
                    <button [routerLink]="'/activities/register-new-vendor'" type="button" class="btn btn-primary waves-effect waves-light"><span><i class=" ri-add-fill"></i>Post New Ad</span></button>
                </div>
                </div>
          </div>
        </div>
        <ag-grid-angular
        class="ag-theme-alpine" style="width: 100%; height: 500px;"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="rowData"
            [theme]="'legacy'"
            [pagination]="true"
            [paginationPageSize]="10"
            [rowSelection]="'single'"
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)"
            >
        </ag-grid-angular>
    </div>
    </div>